<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Tamanho Agro</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Café Arábica</a>
      <a mat-list-item href="#">Café Conilon</a>
      <a mat-list-item href="#">Milho</a>
      <a mat-list-item href="#">Soja</a>
      <a mat-list-item href="#">Algodão</a>
      <a mat-list-item href="#">Carne Suina</a>
      <a mat-list-item href="#">Carne Bovina</a>
      <a mat-list-item href="#">Carne Frango</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="background-color: #D2B48C;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="font-size:50px;">Agro Gestão</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>